# ANA 500 - Week 2 Homework
### Author:  Daniel Lagos

In [28]:
# Libraries
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib as mpl
import matplotlib.pyplot as plt

## Bring in CHIS 2020 from local hardrive
## take zipped file "adult.zip" Unzip.  put file path in FILE_LOC

In [29]:
FILE_LOC = 'C:/Users/Daniel Lagos/OneDrive - Loan Simple/Documents/National University/8 - ANA 500/Week 2/ADULT.xpt'
df = pd.read_sas(FILE_LOC)

C:\Users\Daniel Lagos\anaconda3\lib\site-packages\pandas\io\sas\sas_xport.py:475: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  df[x] = v

In [30]:
df.head()

,AA5C,AA5G,AH37,AH44,AB1,AB17,AB40,AB41,AB18,AB43,...,RAKEDW71,RAKEDW72,RAKEDW73,RAKEDW74,RAKEDW75,RAKEDW76,RAKEDW77,RAKEDW78,RAKEDW79,RAKEDW80
0,-1.0,-1.0,-1.0,-1.0,3.0,2.0,-1.0,-1.0,-1.0,-1.0,...,1605.912814,1577.479222,1578.109407,1566.686492,1657.063161,1598.357033,1610.132833,1577.495627,1607.168800,1602.605396
1,-1.0,-1.0,-1.0,1.0,2.0,2.0,-1.0,-1.0,-1.0,-1.0,...,1558.197812,1513.430922,1537.924152,1537.402328,1529.306613,1544.735340,1531.233715,1557.723321,1562.932975,1503.820145
2,-1.0,-1.0,-1.0,-1.0,2.0,2.0,-1.0,-1.0,-1.0,-1.0,...,1211.750536,1212.772970,1202.982303,1225.293304,1248.000638,1216.821869,1233.241885,1201.254104,1201.887010,1218.093974
3,-1.0,-1.0,-1.0,-1.0,3.0,1.0,1.0,2.0,2.0,2.0,...,590.153646,604.817107,596.879484,594.582363,587.412696,590.762356,589.418840,598.307511,1195.997735,581.912369
4,-1.0,1.0,-1.0,1.0,4.0,2.0,-1.0,-1.0,-1.0,-1.0,...,194.059102,188.468808,201.853958,195.711101,200.749310,191.936914,206.431383,205.310211,449.979358,197.861495

In [31]:
df.shape

(21949, 604)

In [32]:
df.describe()

,AA5C,AA5G,AH37,AH44,AB1,AB17,AB40,AB41,AB18,AB43,...,RAKEDW71,RAKEDW72,RAKEDW73,RAKEDW74,RAKEDW75,RAKEDW76,RAKEDW77,RAKEDW78,RAKEDW79,RAKEDW80
count,21949.000000,21949.000000,21949.000000,21949.000000,21949.000000,21949.000000,21949.000000,21949.000000,21949.000000,21949.000000,...,2.194900e+04,2.194900e+04,2.194900e+04,2.194900e+04,2.194900e+04,2.194900e+04,2.194900e+04,2.194900e+04,2.194900e+04,2.194900e+04
mean,-0.960636,-0.552098,-0.326302,0.222379,2.341291,1.833888,-0.599526,-0.554832,-0.550913,-0.591325,...,1.352448e+03,1.352448e+03,1.352448e+03,1.352448e+03,1.352448e+03,1.352448e+03,1.352448e+03,1.352448e+03,1.352448e+03,1.352448e+03
std,0.659912,1.168150,1.184560,0.991387,0.981429,0.372190,0.919431,1.015401,1.023292,0.937936,...,2.091436e+03,2.092901e+03,2.104900e+03,2.096036e+03,2.088730e+03,2.095567e+03,2.092336e+03,2.092695e+03,2.090307e+03,2.095867e+03
min,-9.000000,-9.000000,-1.000000,-1.000000,1.000000,1.000000,-1.000000,-1.000000,-1.000000,-1.000000,...,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79
25%,-1.000000,-1.000000,-1.000000,-1.000000,2.000000,2.000000,-1.000000,-1.000000,-1.000000,-1.000000,...,3.248181e+02,3.240392e+02,3.217399e+02,3.236587e+02,3.240317e+02,3.257388e+02,3.254211e+02,3.255549e+02,3.251767e+02,3.245607e+02
50%,-1.000000,-1.000000,-1.000000,1.000000,2.000000,2.000000,-1.000000,-1.000000,-1.000000,-1.000000,...,6.626399e+02,6.606270e+02,6.576657e+02,6.598431e+02,6.602419e+02,6.612859e+02,6.610432e+02,6.624901e+02,6.631350e+02,6.610933e+02
75%,-1.000000,-1.000000,1.000000,1.000000,3.000000,2.000000,-1.000000,-1.000000,-1.000000,-1.000000,...,1.418224e+03,1.419557e+03,1.417607e+03,1.419032e+03,1.420503e+03,1.417095e+03,1.420962e+03,1.420261e+03,1.424069e+03,1.424040e+03
max,2.000000,2.000000,4.000000,2.000000,5.000000,2.000000,2.000000,2.000000,2.000000,2.000000,...,1.817416e+04,1.813415e+04,1.825511e+04,1.832452e+04,1.809271e+04,1.831989e+04,1.808554e+04,1.833622e+04,1.814671e+04,1.827509e+04

## VAR DEPRESSION

In [33]:
df.AJ32.describe()

count    21949.000000
mean         4.631783
std          0.734293
min         -2.000000
25%          5.000000
50%          5.000000
75%          5.000000
max          5.000000
Name: AJ32, dtype: float64

## VAR SMOKING HABITS

In [34]:
df.SMOKING.describe()

count    21949.000000
mean         2.638343
std          0.582503
min          1.000000
25%          2.000000
50%          3.000000
75%          3.000000
max          3.000000
Name: SMOKING, dtype: float64

## VAR GENERAL HEALTH

In [12]:
df.AB1.describe()

count    21949.000000
mean         2.341291
std          0.981429
min          1.000000
25%          2.000000
50%          2.000000
75%          3.000000
max          5.000000
Name: AB1, dtype: float64

## VAR POVERTY LEVELS, AS LEVELS OF FEDERAL POVERTY LEVELS

In [35]:
df.POVLL.describe()

count    21949.000000
mean         3.423983
std          0.973787
min          1.000000
25%          3.000000
50%          4.000000
75%          4.000000
max          4.000000
Name: POVLL, dtype: float64

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21949 entries, 0 to 21948
Columns: 604 entries, AA5C to RAKEDW80
dtypes: float64(603), object(1)
memory usage: 101.1+ MB

## filter data:  get rid of values of -1

In [37]:
df = df.loc[:, ['SMOKING', 'AB1', 'POVLL', 'AJ32']]
df = df[(df['AJ32'] > -1)]

smokingCurrent = df.SMOKING # CURRENT SMOKING HABITS - CAT
generalHealth = df.AB1 # GENERAL HEALTH CONDITION - CAT
povertyFPL = df.POVLL # FPL - CAT
depression = df.AJ32 # feeling depressed in last 30 days - CAT - DEP VAR

In [38]:
df.head()

   SMOKING  AB1  POVLL  AJ32
0      3.0  3.0    3.0   3.0
1      2.0  2.0    3.0   5.0
2      3.0  2.0    4.0   5.0
3      2.0  3.0    3.0   5.0
4      2.0  4.0    2.0   5.0

# Frequency Charts

## Freq Table:  Smoking

In [39]:
smoking_freq = pd.crosstab(index = df['SMOKING'], columns='count')
smoking_freq

col_0    count
SMOKING
1.0       1190
2.0       5557
3.0      15197

## Freq Table:  General Health

In [40]:
gen_health_freq = pd.crosstab(index = df['AB1'], columns='count')
gen_health_freq

col_0  count
AB1
1.0     4544
2.0     8469
3.0     6286
4.0     2189
5.0      456

## Freq Table:  Poverty

In [41]:
poverty_freq = pd.crosstab(index = df['POVLL'], columns='count')
poverty_freq

col_0  count
POVLL
1.0     1769
2.0     2419
3.0     2496
4.0    15260

## Freq Table:  Depression

In [27]:
depression_freq = pd.crosstab(index = df['AJ32'], columns='count')
depression_freq

col_0  count
AJ32
1.0       95
2.0      372
3.0     1573
4.0     3405
5.0    16499